<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.mycgv.mapper.MemberMapper">

	<insert id="join" parameterType="com.springboot.mycgv.dto.MemberDto">
		insert into cgv_member values (#{id},#{pass},#{name},#{gender},#{email},#{zonecode},#{addr1}
			 			,#{addr2},#{hp},#{pnumber},#{hobbylist},#{intro},sysdate)
	</insert>

	<select id="login" parameterType="com.springboot.mycgv.dto.MemberDto" resultType="int">
			select count(*) from cgv_member where id=#{id} and pass=#{pass}
	</select>

	<select id="getMemberList" parameterType="com.springboot.mycgv.dto.MemberDto" resultType="com.springboot.mycgv.dto.MemberDto">
		select rno, id, name, pnumber, mdate from(
			select rownum rno, id, name, pnumber, mdate from(
			select id, name, pnumber, mdate from cgv_member order by mdate desc))
			where rno between #{startCount} and #{endCount}
	</select>
	<select id="getMemberContent" parameterType="java.lang.String" resultType="com.springboot.mycgv.dto.MemberDto">
		select id, name, addr1, addr2, pnumber, hobbylist, intro, mdate from cgv_member where id=#{id}
	</select>

	<select id="idCheck" parameterType="java.lang.String" resultType="int">
		select count(*) from cgv_member where id=#{id}
	</select>
	
</mapper>
	
	
	
	
	