<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.mycgv.mapper.MemberMapper">

	<insert id="join" parameterType="com.springboot.mycgv.dto.MemberDto">
		insert into cgv_member values (#{id},#{pass},#{name},#{gender},#{email},#{zonecode},#{addr1}
			 			,#{addr2},#{hp},#{pnumber},#{hobbylist},#{intro},sysdate)
	</insert>

	<select id="login" parameterType="com.springboot.mycgv.dto.MemberDto" resultType="int">
			select count(*) from cgv_member where id=#{id} and pass=#{pass}
	</select>

</mapper>
	
	
	
	
	