
	* { font-family:나눔바른고딕; }	
	body { margin:0; padding:0;}
	
 	/********************************************************
	// content
	********************************************************/
  	div.content { width:980px; margin:0 auto; }
 	div.content h1 { 		
 		text-align:center;	
 		margin-top:70px;
 	} 	 

	/***********************************
 		board style
 	***********************************/
 	table.board, form[name='boardWriteForm'], 
 	table.boardContent, form[name='boardUpdateForm'],
 	form[name='boardDeleteForm'] {
 		width:70%; margin:0 auto; 	
 		font-size:13px;	 		
 	}
 	 		
 	table.board th:nth-child(1) {	width:10%; 	}
 	table.board th:nth-child(2) {	width:55%;  }
 	table.board th:nth-child(3) {	width:25%; 	}
 	table.board th:nth-child(4) {	width:10%; 	}
 	
 		
 	table.board td:nth-child(2) {	text-align:left; padding-left:20px; } 	
 	
 	table.board , table.board th, table.board td,
 	table.boardContent, table.boardContent th, table.boardContent td {
 		border:1px solid #ccc;
 		border-collapse:collapse;
 	}
 	table.board th, table.boardContent th {
 		background-color:powderblue;
 	}
 	table.boardContent {margin-top:50px;}
 	table.board th, table.board td,
 	table.boardContent th, table.boardContent td {
 		padding:10px 0;
 	}
 	table.board td, table.boardContent { text-align:center; }
 	table.board tr:first-child td { 
 		border:1px solid #fff;
 		border-bottom:1px solid #ccc;
 		text-align:right; 
 	}
 	table.board tr:first-child td button{ 
 		background-color:#ccc;
 		border-color:#ccc;
 		border-radius:5px; 		
 	}
 	table.board tr:last-child td, 
 	table.boardContent tr:last-child td { 
 		border:1px solid #fff;
 		border-top:1px solid #ccc;
 		padding-top:20px;
 	}
 	table.board  td a { 
 		text-decoration:none;
 		color:#000;
 	}
 	table.board  td a:hover { 
 		text-decoration:underline;
 	}
 	

 	form[name='boardWriteForm'] ul,
 	form[name='boardUpdateForm'] ul,
 	form[name='boardDeleteForm'] ul {
 		border:1px solid #e5e5e5;  
 		list-style-type:none;
 		margin-top:30px; padding:20px;
 	}
 	form[name='boardWriteForm'] ul li,
 	form[name='boardUpdateForm'] ul li,
 	form[name='boardDeleteForm'] ul li { 
 		clear:left;
 		padding:5px 0px; 
 	}
 	form[name='boardWriteForm'] ul label,
 	form[name='boardUpdateForm'] ul label {
 		background-color:powderblue;
 		display:block;
 		float:left;
 		width:120px;
 		padding:8px 0px;
 		font-size:12px; color:#000;
 		text-indent:25px;
 		margin-right:10px;
 		margin-left:50px;
		font-weight:bold;
		border: 1px solid powderblue;
		border-radius:5px;
 	} 
 	form[name='boardWriteForm'] input,
 	form[name='boardUpdateForm'] input {
 		border:1px solid #ccc;
		border-radius:5px;
		width:56%;
		padding:8px 10px;
		font-size:12px;
 	}
 	form[name='boardWriteForm'] textarea,
 	form[name='boardUpdateForm'] textarea {
 		border:1px solid  #ccc; 
		border-radius:5px;
		width:56%;
		padding:8px 10px;
		height:100px;
		font-size:12px;	
 	}
 	form[name='boardWriteForm'] li:last-child,
 	form[name='boardUpdateForm'] li:last-child,
 	form[name='boardDeleteForm'] li:last-child {
 		text-align:center;
 		padding-top:20px;
 	}
 	table.boardContent tr:nth-child(2) td,
 	table.boardContent tr:nth-child(3) td {
 		text-align:left;
 		text-indent:10px;
 	}

 	form[name='boardDeleteForm'] li:first-child { 	
 		text-align:center;
 	}
 	
 	form[name='boardDeleteForm'] li:first-child img{
 		width:50%;
 	}
 	form[name='boardDeleteForm'] li:nth-child(2) div {
 		text-align:center;
 		font-size:20px; 
 		font-family:나눔바른고딕;
 		font-weight:bold;
 		padding:10px 0;
 	}
 	 	 	
 	
	/********** commons style ******************/
	.btn_style {
		font-size:12px;
		width:100px;
		padding:7px 8px;
		background-color:coral;
		color:#fff;
		border:1px solid coral;
		margin-right:5px;
	}

	/***********************************
		 upload file --> update form
 	***********************************/
 	#upload_file {
		/* border:1px solid red; */
		position:relative;
		left:265px; top:-30px;
		width:200px;  height:20px;
		display:inline-block;	
		background-color:white;	
		font-size:12px;
	}
 	
 	